!!! 5
html
	head
		title Mon super jeu
		link(type="text/css", rel="stylesheet", href="/css/main.css")
	body

		script(type="text/javascript", src="/scripts/compatibility.js")
		script(type="text/javascript", src="/scripts/utils.js")
		script(type="text/javascript", src="/scripts/stats.js")
		script(type="text/javascript", src="/scripts/NLImages.js")
		script(type="text/javascript", src="/scripts/NLSounds.js")
		script(type="text/javascript", src="/scripts/box2d/box2d.js")
		script(type="text/javascript", src="/scripts/config.js")


		script(type="text/javascript", src="/scripts/game.js")
		

		script(type="text/javascript", src="/scripts/Bomb.js")
		script(type="text/javascript", src="/scripts/Player.js")
		script(type="text/javascript", src="/scripts/Map.js")
		script(type="text/javascript", src="/scripts/MiniMap.js")
		script(type="text/javascript", src="/scripts/Camera.js")
		script(type="text/javascript", src="/scripts/Physics.js")

		script(type="text/javascript", src="/scripts/init_canvas.js")
		script(type="text/javascript", src="/scripts/Title.js")
		script(type="text/javascript", src="/scripts/Button.js")
		script(type="text/javascript", src="/scripts/Menu.js")
		script(type="text/javascript", src="/scripts/inputs.js")
		script(type="text/javascript", src="/scripts/requestAnimationFrame.js")
		script(type="text/javascript", src="/scripts/soundsList.js")
		script(type="text/javascript", src="/scripts/imagesList.js")
		script(type="text/javascript", src="/scripts/gameLoop.js")
		script(type="text/javascript", src="/scripts/scoreMessages.js")
		script(type="text/javascript", src="/scripts/onload.js")
