!!! 5
html
	head
		title Mon super jeu
		link(type="text/css", rel="stylesheet", href="/css/main.css")
	body

		h1 JSTank
		h2 JSTank est un jeu de tanks en ligne multijoueurs. Connecte-toi et essaie de battre les autres en leur tirant dessus !
		p Déplaces-toi avec les flêches directionnelles et tire avec ctrl ou la souris
		p Tu peux aussi parler avec les autres joueurs. Ecris simplement ton message et appuie sur enter.
		a(href="/game") Jouer à JSTank 
		br
		a(href="/code") Infos sur le code
